#a1, #a2, #a3 {
  background-color: grey;
  border: 7px solid red;
  height: 250px;
  border-radius: 15px;
  text-align: center;
  padding-top: 30px;
}

#header-text {
	margin-top: 50px;
}

#question {
  border-top: 5px solid blue;
  padding-top: 15px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#instructions {
  text-align: center;
}
