#a1, #a2, #a3 {
  background-color: grey;
  border: 7px solid red;
  height: 250px;
  border-radius: 15px;
}

#header-text {
	margin-top: 50px;
<<<<<<< HEAD
}

#question {
  border-top: 5px solid blue;
  padding-top: 15px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#instructions {
  text-align: center;
}
=======
}
>>>>>>> 8b3b152d5d4ee0de7b12cba76f5085c3d59993a5
